<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body data-gr-c-s-loaded="true" style="margin: 0px;">
      {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
    {% endwith %}

{% if session['logged_in'] %}
    <h1>Welcome {{name}} </h1>

      {% if session['SecurityLevel'] == 1  %}
        <h2><a href="/sendbid">Send Bid</a></h2>
      {% endif %}
      {% if session['SecurityLevel'] == 1 or session['SecurityLevel'] == 2  %}
	    <h2><a href="/HMAC">Send Bid using HMAC with Encryption</a></h2>
      {% endif %}
      {% if session['SecurityLevel'] == 1 or session['SecurityLevel'] == 2  %}
	    <h2><a href="/auctionItemList">List Auction Items</a></h2>
      {% endif %}
      <h2><a href="/logout">Log out</a></h2>
{% endif %}

</body></html>